@model IEnumerable<ProyectoFinal_Ecommerce.Models.SolicitudesOfertas>

@{
    ViewBag.Title = "Solicitudes COfertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes de ofertas de productos</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <a href="@Url.Action("Create", "SolicitudesOfertas")" class="btn btn-block btn-primary" style="font-size:1.5rem;">Nueva Oferta</a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrecioActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oferta)
        </td>
        <td>
            @switch (item.Status)
            {
                case 1:
                    <span class="bg-warning text-warning text-capitalize">Enviado</span>
                    break;
                case 2:
                    <span class="bg-success text-success text-capitalize">Aprobado</span>
                    break;
                case 3:
                    <span class="bg-danger text-danger text-capitalize">Rechazado</span>
                    break;

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn-warning" })
            @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = "btn btn-block btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-block btn-danger" })
        </td>
    </tr>
}

</table>
