@model IEnumerable<ProyectoFinal_Ecommerce.Models.SolicitudesCompras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Solicitudes de compra de productos</h2>
<br />
<br />
<br />
<table class="table table-hover table-striped">
    <tr>
        <th>
            No. de orden
        </th>
        <th>
            Producto nuevo
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Cantidad a comprar
        </th>
        <th>
            Descripción del nuevo producto
        </th>
        <th>
            Presupuesto solicitado
        </th>
        <th>
            Status
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NuevoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedores.razon_social)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presupuesto)
        </td>
        <td>
            @switch (item.Status)
            {
                case 1:
                    <span class="bg-warning text-warning text-capitalize">Enviado</span>
                    break;
                case 2:
                    <span class="bg-success text-success text-capitalize">Aprobado</span>
                    break;
                case 3:
                    <span class="bg-danger text-danger text-capitalize">Rechazado</span>
                    break;

            }
        </td>
        
        <td>
            @Html.ActionLink("Borrar solicitud", "Delete", new { id=item.Id }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
<br/>
<br/>
<div class="container">
    <div class="container-fluid">

        @Html.ActionLink("Nueva solicitud", "Create", "SolicitudesCompras", new { @class = "btn btn-primary" })
        @Html.ActionLink("Ventas", "AllVentas", "Ventas", new { }, new { @class = "btn btn-info" })
    </div>
</div>
