@model IEnumerable<ProyectoFinal_Ecommerce.Models.SolicitudesCambioPrecio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Solicitudes de actualizaciones de precio por ofertas<br /> APROBADAS</h2>
<br />
<br />
<table class="table table-hover table-striped">
    <tr>
        <th>
            Fecha de envío
        </th>
        <th>
            No. de orden
        </th>
        <th>
            Producto
        </th>
        <th>
            Precio actual
        </th>
        <th>
            Razón de actualización
        </th>
        <th>
            Porcentaje de descuento
        </th>
        <th>
            Motivo
        </th>
        <th>
            Nuevo Precio
        </th>

        <th>
            Status
        </th>
    </tr>
    @foreach (var item in Model)
    {
        float desc = 0;

        if (item.Id_TipoCambio == 2 && item.Status == 2)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaActualizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioActual)
                </td>
                <td class="bg-info">
                    @Html.DisplayFor(modelItem => item.CambioPrecioVenta.TipoCambio)
                </td>
                @if (item.Id_TipoCambio != 2)
                {
                    <td class="bg-info text-center">
                        0 %
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Descuento) %
                    </td>
                }
                <td class="bg-success">
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td>
                    @{
                        desc += (float)(item.PrecioActual - ((item.PrecioActual * item.Descuento) / 100));
                    }
                    @desc
                </td>

                @switch (item.Status)
                {
                    case 1:
                        <td class="bg- bg-primary text-capitalize">Enviado</td>
                        break;
                    case 2:
                        <td class="bg-success text-success text-capitalize">Aprobado</td>
                        break;
                    case 3:
                        <td class="bg-danger text-danger text-capitalize">Rechazado</td>
                        break;
                }
                
            </tr>
            
        }

    }
</table>
<div class="container">
    @Html.ActionLink("Regresar al listado", "VerCambiosOfertasEn", "Finanzas", new { @class = "btn btn-primary" })
</div>
