@model ProyectoFinal_Ecommerce.Models.UsuarioModel
@{
    ViewBag.Title = "Registro";
}

<div class="login-page">
    <h2 style="text-align:center">Datos del Empleado</h2>
    <div class="row" style="text-align: left;">
        <div class="col-md-10 col-md-offset-1">
            <br />
            <br />
            @using (Html.BeginForm("Registro", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="block">
                    @*<h4 class="title">Contacto</h4>*@
                    <div class="block-inside" style="padding-left: 30px;">
                        <div id="customer_additional_fields">
                            <div class="row">
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="contact_name" class="field text-field">
                                            @Html.LabelFor(m => m.nombre, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.nombre, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="contact_name" class="field text-field">
                                            @Html.LabelFor(m => m.apellido_paterno, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.apellido_paterno, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.apellido_paterno, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="contact_apm" class="field text-field">
                                            @Html.LabelFor(m => m.apellido_materno, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.apellido_materno, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.apellido_paterno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="customer_contacts">
                            <div class="row">
                                <div class="col-md-5" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="contacts_email" class="field text-field">
                                            @Html.LabelFor(m => m.correo, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.correo, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.correo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="contacts_phone" class="field text-field">

                                            @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label col-md-2" })

                                            @Html.DropDownListFor(model => model.role_id, new SelectList(
                                            new List<Object> { new { value = 0, text="Selecciona una opción"},
                                                                new { value = 2, text="Super Admin"},
                                                                new { value = 3, text="Administrador ventas"},
                                                                new { value = 4, text="Administrador compras"},
                                                                new { value = 5, text="Embarques"},
                                                                new { value = 6, text="Finanzas"} },
                                                            "value","text"), new { @class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
                                            @*@Html.DropDownListFor(model => model.role_id, new SelectList(
                                                new List<Object> {new {value = 0, text="Selecciona opción"},
                                                                    new { value = 3, text="Administrador ventas"},
                                                                    new { value = 4, text="Administrador compras"},
                                                                    new { value = 5, text="Administrador embarques"}},
                                                                "value","text"), new { @class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="customer_details_password">
                            <div class="row">
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="details_username" class="field text-field">
                                            @Html.LabelFor(m => m.username, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.username, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="details_password" class="field text-field">
                                            @Html.LabelFor(m => m.pass, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.pass, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.pass, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 30px;">
                                    <div class="form-group">
                                        <div id="details_confirm_password" class="field text-field">
                                            @Html.LabelFor(m => m.confpass, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.confpass, new { @class = "text form-control" })
                                            @Html.ValidationMessageFor(m => m.confpass, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="alert-danger">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @if (Session["bot"] != null)
                        {
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <div class="alert alert-danger alert alert-dismissible" style="height:40px !important; padding:10px 20px;">
                                        <a href="#" class="close" style="padding-right:10px;" data-dismiss="alert" aria-label="close"> &times;</a>
                                        <span>
                                            @Session["bot"]
                                        </span>
                                    </div>
                                </div>
                            </div>
                            Session["bot"] = null;
                        }
                        <div class="actions form-group">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <input type="submit" value="Registrar" class="button btn btn-block btn-success" id="register_customer">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col col-md-offset-5 col-md-10">
                                @Html.ActionLink("Regresar al Panel", "VistaPanelUsuarios", "Usuarios")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

