
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title- BOLSAS S.A</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                    <img src="~/images/logobolsas.png" alt="Alternate Text" style="max-height: 70px; padding: 10px 0;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container body-content">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-3">
                    <div class="sidenav">

                        @{
                            ProyectoFinal_Ecommerce.Models.Usuarios us = (ProyectoFinal_Ecommerce.Models.Usuarios)Session["mom"];
                            if (us != null && us.role_id > 0)
                            {

                                if (us.role_id == 2 || us.role_id == 6)
                                    {
                                        @Html.ActionLink(" FINANZAS", "Index", "Finanzas", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })
                                        <hr />
                                    }

                                if (us.role_id == 2 || us.role_id == 3)
                                {
                                    @Html.ActionLink(" PRODUCTOS", "Index", "Productos", new { area = "" }, new { @class = "glyphicon glyphicon-th" })
                                    <hr />
                                }

                                if (us.role_id == 2 || us.role_id == 3)
                                {
                                    @Html.ActionLink(" VENTAS", "AllVentas", "Ventas", new { area = "" }, new { @class = "	glyphicon glyphicon-tags" })
                                    <hr />
                                }

                                if (us.role_id == 2 || us.role_id == 4)
                                {
                                    @Html.ActionLink(" PROVEEDORES", "Index", "Proveedores", new { area = "" }, new { @class = "glyphicon glyphicon-bishop" })
                                    <hr />
                                }

                                @*if (us.role_id == 2 || us.role_id == 5)
                                    {
                                        @Html.ActionLink(" EMBARQUE", "Index", "Embarque", new { area = "" }, new { @class = "glyphicon glyphicon-plane" })
                                        <hr />
                                    }*@

                                if (us.role_id == 2 || us.role_id == 4)
                                {
                                    @Html.ActionLink(" COMPRAS", "AllCompras", "Compras", new { area = "" }, new { @class = "glyphicon glyphicon-barcode" })
                                    <hr />
                                }

                                if (us.role_id == 2)
                                {
                                    @Html.ActionLink(" EMPLEADOS", "ListarEmpleados", "Usuarios", new { area = "" }, new { @class = "glyphicon glyphicon-user" })
                                    <hr />
                                }

                                if (us.role_id == 2)
                                {
                                    @Html.ActionLink(" ROLES", "ListarRolesIndex", "Roles", new { area = "" }, new { @class = "glyphicon glyphicon-check" })
                                    <hr />
                                }

                            }
                        }
                    </div>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @RenderBody()
                </div>
            }
        </div>
    </div>


    <hr />
    <br />
    <br />
    <footer>
        <p align="center">&copy; @DateTime.Now.Year</p>
        <p align="center">SMOOTHIE E-COMMERCE</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>