@model IEnumerable<Final_Ecommerce.Models.DAL.Ventas>
@{
    ViewBag.Title = "Historial de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="breadcrumbs">
        <ul>
            <li>@Html.ActionLink("INICIO", "Index", "Home") / </li>
            <li>HISTORIAL DE COMPRAS</li>
        </ul>
    </div>*@
<div class="login-page">
    <br />
    <h2>
        Historial de compras
    </h2>
    <br />
    <table class="table" id="compras-table">
        <thead>
            <tr>
                <th style="text-align: center !important;">Fecha</th>
                <th style="text-align: center !important;">Subtotal</th>
                <th style="text-align: center !important;">Total</th>
                <th style="text-align: center !important;">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                //if ()
                //{
                foreach (Final_Ecommerce.Models.DAL.Ventas item in Model)
                {
                    string fecha = item.fecha.ToString("dddd, dd MMMM yyyy").ToUpper();
                    string status = "En proceso";
                    switch (item.stat)
                    {
                        case 1:
                            status = "Entregada";
                            break;
                        case 2:
                            status = "En camino";
                            break;
                    }
                    <tr>
                        <td>@fecha</td>
                        <td>$ @item.sub_total</td>
                        <td>$ @item.total</td>
                        <td>@status</td>
                        <td style="color: red !important;">
                            <a href="@Url.Action("DetalleCompra", "Compras", new { id = item.id })" class="info" style="color: deepskyblue !important;"><i class="fa info fa-eye"></i> Detalles</a>
                        </td>
                    </tr>
                }
                @*}
                    else
                    {
                        <tr>
                            <td colspan="6" align="center">
                                No se han realizado compras
                            </td>
                        </tr>
                    }*@
            }
            else
            {
                <tr>
                    <td colspan="6" align="center">
                        No se han realizado compras
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>
@*<div class="block text-center">
    <h3></h3>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="block-inside">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <p style="font-weight: bold;">TOTAL: </p>
                    </div>
                    <div class="col-md-5">
                        @{
                            decimal total = 0;
                            if (Session["carrito"] != null)
                            {
                                List<CarritoModel> carrito = (List<CarritoModel>)Session["carrito"];
                                total = carrito.Sum(item => item.Cantidad * item.Precio_venta);
                            }
                        }
                        <p style="font-weight: bold;">$ @total </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#" class="btn btn-block btn-success" style="font-size:1.5rem;">
                            Proceder con el pago
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">*@
@*@Html.ActionLink("Únete", "Registrar", "Registro")*@
@*<a href="/Productos/AllProductos" class="btn btn-block btn-success" style="font-size:1.5rem;">
                                Continuar comprando
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



