@model IEnumerable<ProyectoFinal_Ecommerce.Models.Ventas>
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center;">
    <h2>
        Ventas
    </h2>
</div>
<br />
<table class="table table-condensed table-striped table-hover" id="compras-table" style="text-align: center;">
    <thead>
        <tr>
            <th style="text-align: center !important;">Fecha</th>
            <th style="text-align: center !important;">Subtotal</th>
            <th style="text-align: center !important;">Total</th>
            <th style="text-align: center !important;">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            //if ()
            //{
            foreach (ProyectoFinal_Ecommerce.Models.Ventas item in Model)
            {
                string fecha = item.fecha.ToString("dddd, dd MMMM yyyy").ToUpper();
                string status = "En proceso";
                switch (item.stat)
                {
                    case 1:
                        status = "Entregada";
                        break;
                    case 2:
                        status = "En camino";
                        break;
                }
                <tr>
                    <td>@fecha</td>
                    <td>$ @item.sub_total</td>
                    <td>$ @item.total</td>
                    <td>@status</td>
                    <td style="color: red !important;">
                       
                        <a href="@Url.Action("DetalleVenta", "Ventas", new { id = item.id })" class="info" style="color: deepskyblue !important;"><i class="fa info fa-eye"></i> Detalles</a>
                        
                        <a class="btn btn-warning" data-toggle="modal" data-target="#statusModal@(item.id)">Actualizar Status</a>
                    </td>

                </tr>
                <div class="modal fade" id="statusModal@(item.id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div>
                        <div class="modal-dialog" role="document">
                            @{
                                using (Html.BeginForm("updateStatus", "Ventas", FormMethod.Post))
                                {
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar Status de Envío</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="hidden" id="id" name="id" value="@item.id" />
                                                <label for="exampleFormControlSelect2">Estado de envío de producto</label>
                                                <select class="form-control" id="status" name="status">
                                                    <option value="0">En proceso</option>
                                                    <option value="1">En ruta</option>
                                                    <option value="2">Entregado</option>
                                                  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <input class="btn btn-success" type="submit" value="Actualizar" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <tr>
                <td colspan="6" align="center">
                    No se han realizado compras
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="container" style="display:flex; align-content:center">
    <div class="container-fluid">
        @*@Html.ActionLink("Solicitudes de devoluciones", "Index", "SolicitudesDevoluciones", new { }, new { @class = "btn btn-danger" })*@
        @Html.ActionLink("Solicitudes de actualización de precios", "Index", "SolicitudesCambioPrecios", new { }, new { @class = "btn btn-block btn-primary" })
        @*@Html.ActionLink("Solicitudes de ofertas", "Index", "SolicitudesOfertas", new { }, new { @class = "btn btn-success" })*@

    </div>
    
</div>

