@model ProyectoFinal_Ecommerce.Models.SolicitudesDevoluciones

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar solicitud de Devolución</h2>

<h3>¿Quieres borrar esta solicitud?</h3>
<div>
    <h4>Solicitud de Devoluciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.razon_social)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-block btn-default" /> 
        @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-block btn-info" })
    </div>
    }
</div>
