@model ProyectoFinal_Ecommerce.Models.SolicitudesDevoluciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles </h2>

<div>
    <h4>Solicitud de Devoluciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
         Diferencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Venta)
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre)
        </dd>

        <dt>
            Proveedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.razon_social)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-block btn-warning" })
    @Html.ActionLink("Regresar", "Index","", new { @class = "btn btn-block btn-info" })
</p>
