@model ProyectoFinal_Ecommerce.Models.SolicitudesDevoluciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SolicitudesDevoluciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
